</main>
    <footer>
        <p> <%= new Date().getFullYear() %> Gustavo Graterol.</p>
        <div class="social-links">
            <a href="https://www.instagram.com/alegraterol04/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/alexander.alaes.96" target="_blank" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://wa.me/584243459402" target="_blank" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
        </div>
    </footer>
    <script src="/javascripts/main.js"></script>
</body>
</html>